*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fddfdb;
    font-family: 'Jost', sans-serif;
    }
/*index*/
.logo{
    display: 	flex;
   
    align-items: center;
    width: 100%;
    background:linear-gradient(#f02e15,#fddfdb);
    padding: 20px;
}
#logo{
    width: 100px;
    border-radius: 70px ;
    margin: 20px;
}
h1{
    margin: 20px;
    padding: 5px;
}
/*nav*/

ul{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr ;
    justify-content: space-evenly;
    
    gap: 20px;
    list-style: none;
}
li{
    margin: 10px;
    padding: 10px;
    background: radial-gradient(#f89a8e, #f02e15);
    
    border-radius: 20px 20px;
    text-align: center;
    
}
a{
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 20px;

   

}

li:hover{
    background: radial-gradient( #f02e15,#f89a8e);
    transform: scale(1.1);
   
}

/*main*/
main{
    display: grid;
    grid-template-rows: 1fr ;
    grid-template-columns: 1fr ;
   }
.primeraParte{
    display: flex;
    margin: 20px auto;
   justify-content: space-between;
    
}
p{
    font-size: 20px;
}
article{
    width: 50%;
    margin: 20px;
    width: 50%;

}
aside{
    
    padding: 10px;
    margin: 20px;
    width: 50%;
    
}
.registro{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
   
    
}
h2{
background-color: #f89a8e;
background:linear-gradient( to right, #f89a8e,#fddfdb);
margin: 20px 0;

}
.registroFeliz{
    margin: 0 auto;
    flex-wrap: nowrap;
    
}
img{
    padding: 20px;
    
}

#stabla{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#tabla{
    margin: 20px;
    background:radial-gradient(#fddfdb,#f89a8e);
    margin: 0 auto;
}
th{
    margin: 10px;
    padding: 60px;
}
/*form*/
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f89a8e ;
    
    text-align: center;
    align-items: center;
    margin: 20px auto ;
    border-radius: 30px 0;
}
form{
    background-color: #f3a48a ;
    border-radius: 30px 0;
    padding: 20px;
}
#nosotros{
    width: 60vw;
    margin: 20px auto;
}
input,select,textarea{
    background-color: #fddfdb;
    
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    margin: ;
}
#check{
    display: none;

}
 /*perritos y gatitos*/
 .gatitos{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;


}
.dosprimeras{
    display:flex ;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    
    
}
.caja{
    background-color: #f89a8e;
    padding: 30px;
    margin: 50px;
    border-radius: 20px 0px;
}
.caja:hover{
    background-color: #f02e15;
    opacity: .9;
}

#redes{
    width: 60px;
}
/*footer*/
footer{
    background: linear-gradient(#fddfdb,#f02e15);
    text-align: center;
    padding: 20px;
}
/*quiero donar*/
h3{
    font-size: 20px;
    margin: 20px auto;
    
}
.quierodonar{
    margin: 20px;
    
}
@media screen and (max-width: 768px){
    
    .checkbtn{
        display: flex;

    }
   ul{
    display: flex;
    flex-direction: column;
    position: fixed;
    background:#f02e15;
    opacity: .9;
    top: 250px;
    right: -100%;
    text-align: center;
    transition: all .5s;
    gap: 2px;
    border-radius: 20px;
   }
   nav ul li{
    display: block;
    height: 40px;
    margin: 5px;

   }
   a{
    font-size: 20px;
    
   }
   li a:hover , li a.active:hover{
    
    background: none;
    height: 100px;
   }
   #check:checked ~ ul{
    right: 0;
   }
}
    
    
        
